extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home_header
		.container
			h1 ĐỊNH HƯỚNG PHÁT TRIỂN
			ul.nav
				li.nav-item
					a.nav-link(href="#") TẤT CẢ
				li.nav-item
					a.nav-link(href="#") GROUP
				li.nav-item
					a.nav-link(href="#") TIN THỊ TRƯỜNG
				li.nav-item
					a.nav-link(href="#") TIN VỊT