/////////////////////////////////
// Phần Slider
/////////////////////////////////
.home-slider
	.owl-carousel
		// Phần Slider
		.item
			position: relative
			.title
				+pad(2rem 0)
				height: 100%
				width: 100%
				display: flex
				align-items: center
			+media-breakpoint-up(md)
				.title
					+pos(abs, 0 null null 0)
					color: $whites
					+text-shadow()
					h2
						+fz(3rem)
					p 
						+fz(1.5rem)
						+lh(2rem)
		// Phần Control
		.owl-dots
			margin-bottom: 2rem
/////////////////////////////////
// Phần News
/////////////////////////////////

.home-news
	.item 
		figure
			.blockimg
				+bor-rad(10px)
				overflow: hidden
				img
					width: 100%
			figcaption 
				margin-top: 1rem
				h3 
					+fz(1.1rem)
					margin-bottom: 0
				time 
					+fz(.85rem)
					color: darken($whites,30%)
				p 
					margin-top: .5rem
					color: darken($whites,50%)
/////////////////////////////////
// Phần News
/////////////////////////////////

.home-clients
	.owl-carousel
		.item 
			+pad(.5rem)
		// Phần Control
		.owl-nav
			margin-bottom: 2rem
			button 
				i 
					display: block
					width: 2rem
					height: 2rem
					+lh(2rem)
